# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings
# Maven
target/
release.properties
 # Android generated
bin/
gen/
gen-external-apklibs/
# Ant
local.properties
# IntelliJ
*.iml
*.ipr
*.iws
out/
.idea/
