# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings
# Maven
target/
release.properties
 # Android generated
bin/
gen/
gen-external-apklibs/
# Ant
local.properties
# IntelliJ
*.iml
*.ipr
*.iws
out/
bys-test/.gitignore
bys-test/pom.xml
bys-test/src/main/java/com/chong/bys/bystest/BysTestApplication.java
bys-test/src/main/resources/
bys-test/src/test/
bys-web/src/test/
.idea/
